*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Poppins";
    src: url("/fen-3/Шрифт/Poppins-Light.ttf") format("opentype")
}
@font-face {
    font-family: "Comfortaa";
    src: url("/fen-3/Шрифт/Comfortaa.ttf") format("opentype")
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url("/fen-3/Шрифт/Montserrat-Regular.ttf") format("opentype")
}
@font-face {
    font-family: "Roboto";
    src: url("/fen-3/Шрифт/Roboto.ttf") format("opentype")
}
.body{
        
    height: 1000vh;
    background-color: gray;
    overflow-x: hidden
    
}
.backend{
    height: 1000vh;
    width: 1980px;
    background-color: #FFFFFF;
    
}
.header{/*** Header ***/
    display: flex;
    background-image: url(/fen-3/Фон/section\ 1.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 1980px;
    height: 1096px;
    background-size: cover;
    
}
button {
    transition: transform 0.5s ease-in-out;
  }
  
  button:hover {
    transform: scale(1.2);
  }
.headlogo{
    font-size: 36px;
    margin-top: 50px;
    margin-left: 370px;
    color: #FFFFFF;
    font-family: "Comfortaa";
}
.headimage{
    width: 1980px;
    height: 1056;
}
.nav{
    margin-left: 300px;
    margin-top: 60px;
}
.nav-item{
    color: #FFFFFF;
    text-decoration: none;
    margin: 0px 40px;
    font-size: 20px;
    font-family: "Comfortaa";
}

.login{
    
    color: #FFFFFF;
    font-size: 13px;
    border: none;
    background: none;
    margin-top: 65px;
    margin-left: 130px;
    font-family: "Poppins";
}
.sign_up{
    color: #BB6DF3;
    margin-left: 50px;
    font-size: 13px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 62px;
    width: 132px;
    height: 36px;
    font-family: "Poppins";
}
.Personal_header{
    display: flex;
    padding-top: 300px;
    padding-left: 370px;
    position: absolute;
    
}
.text_header{
    
    position: absolute;
}
hr{ margin-right: 20px;
    margin-top: 10px;
    border: 4px;
    border-top: 3px solid #3B668D;
    
}

.pc_img{
    width: 790px;
    height: 716px;
}
.Try{
    color: #FFFFFF;
    
    font-size: 24px;
    background-image: url(/fen-3/Изображение/Пузырь-верх.png) ,url(/fen-3/Изображение/Пузырь-праый.png),url(/fen-3/Изображение/Пузырь\ левый.png), linear-gradient(to right, #39B8FF, #9039FF);
    border: none;
    border-radius: 40px;
    margin-top: 20px;
    width: 304px;
    height: 75px;
    background-repeat: no-repeat;
    background-position:20px 0 ,220px 25px, 0 0 , 50% 25%;
    font-family: "Comfortaa";   
}
.section1{/*** Section1 ***/
    margin: 0px;
}
.page1-img{
    position: absolute;
    display: flex;
}
.page1-smx{
    display: flex;
    margin-left: 1050px;
    margin-top: 50px;
}
.page1-smx-img{
    position: absolute;
    margin-top: 15px;
    padding-left: 15px;
}

.section2{/*** Section2 ***/
    text-align: center;
    margin-top: 360px;
    background-image: url(/fen-3/Фон/Price\ section.png) ;
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: left 60% ;
    
}
.page2-tarif{
    display: flex;
    padding-top: 70px;
    justify-content: center;
}
.tarif1{
    padding-top: 120px;
    width: 450px;
    height: 807;
    margin-right: 20px;
    font-family: "Comfortaa";
    
}
.tarif2{
    width: 620px;
    height: 1002;
    font-family: "Comfortaa";
}
.tarif3{
    
    padding-top: 120px;
    width: 450px;
    height: 807;
    margin-left: 80px;
    font-family: "Comfortaa";
}
.tarif_text{
    margin-left: 80px;
    margin-top: 110px;
}
.tarif_text2{
    margin-top: 105px;
    margin-left: 218px;
    
}
.tarif_text3{
    margin-top: 110px;
    margin-left: 80px;
}
.days{
    font-size: 48px;
    color: #3B668D;
}
.sale{
    font-size: 64px;
    color: #8572FF;
    margin-top: 30px;
}
.line{
    margin-top: 100px;

    border-top: 1px solid #D3D3D3;
}
.harakter{
    margin-top: 90px;
    font-size: 24px;
    color:  #567796 ;
    text-align: left;
    
    
}
.but-tarif{
    color: #FFFFFF;
    padding-top: 25px;
    margin-top: 120px;
    
    font-size: 24px;
    background-image:  linear-gradient(to right, #43A1D6, #907EFF);
    border: none;
    border-radius: 62px;
    width: 250px;
    height: 79px;
    background-repeat: no-repeat;
}
.section3{/*** Section3 ***/
    background-image: url(/fen-3/Фон/Stats\ panel.png) ;
    margin-top: 280px;
    background-repeat: no-repeat;
    display: flex;
    width: 1980px;
    height: 261px;
}
.page3-1{
    display: flex;
    margin-left: 420px;
    margin-top: 40px;
    font-family: "Comfortaa";
}
.page3-2{
    display: flex;
    margin-left: 150px;
    margin-top: 40px;
    font-family: "Comfortaa";
}
.nomer{
    font-size: 42px;
    color: #425B8C;
}
.stroka{
   font-size: 24px; 
   color: #718DC2;
}
.footer{/*** Footer ***/
    background-image: url(/fen-3/Фон/Footer\ section.jpg) ;
    margin-top: 100px;
    width: 1980px;
    height: 1085px;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Comfortaa";
}
.footer-poloj{
    display: flex;
    
}
.footer-text{
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 250px;
    padding-top: 50px;
}
